body{
    font-family: 'press start 2p', cursive;
    background-color: black;
    color: white;
}

header{
    background: linear-gradient(90deg, magenta, cyan);
    padding: 20px;
    text-align: center;
    color: black;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-color: black ;
}

.card{
    background: rgb(43, 43, 43);
    border: solid, orange;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card h3{
    color: cyan;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px orange;
}

img{
    max-width: 200px;
    border-radius: 12px;
    margin: 15px 0;
    border: solid, orange;
    
}

.abertura{
    text-align: center;
    padding: 20px;
    color: cyan;
}

.tema{
    text-align: center;
    padding: 20px;
    color: cyan;
}

footer{
    background: rgb(20, 20, 20);
    text-align: center;
    padding: 10px;
    color: white;
}